@charset "utf-8";
	.NormalCharacterStyle14
{
	font-family : Josefin Sans;
	font-size : 18px;
	line-height : 26.4px;
	color : #CCCCCC;
	color : rgb(204, 204, 204);
}
.NormalCharacterStyle19
{
	font-family : Josefin Sans;
	font-size : 14px;
	letter-spacing : 1.96px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle17
{
	font-family : Josefin Sans;
	font-size : 14px;
	letter-spacing : 1.96px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle15
{
	font-family : Josefin Sans;
	font-size : 14px;
	letter-spacing : 1.96px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle18
{
	font-family : Josefin Sans;
	font-size : 14px;
	letter-spacing : 1.96px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle16
{
	font-family : Josefin Sans;
	font-size : 14px;
	letter-spacing : 1.96px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle13
{
	font-family : Josefin Sans;
	font-size : 18px;
	line-height : 26.4px;
	color : #CCCCCC;
	color : rgb(204, 204, 204);
}
.NormalCharacterStyle12
{
	font-family : Josefin Sans;
	font-size : 18px;
	line-height : 26.4px;
	color : #CCCCCC;
	color : rgb(204, 204, 204);
}
.NormalCharacterStyle20
{
	font-family : Josefin Sans;
	font-size : 14px;
	letter-spacing : 1.96px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Josefin Sans;
	font-size : 16px;
	line-height : 18.08px;
	letter-spacing : 0.32px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Josefin Sans;
	font-size : 16px;
	line-height : 18.08px;
	letter-spacing : 0.32px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle1
{
	font-family : Josefin Sans;
	font-size : 16px;
	line-height : 18.08px;
	letter-spacing : 0.32px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : Josefin Sans;
	font-size : 16px;
	line-height : 18.08px;
	letter-spacing : 0.32px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle4
{
	font-family : Josefin Sans;
	font-size : 16px;
	line-height : 18.08px;
	letter-spacing : 0.32px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle10
{
	font-family : Josefin Sans;
	font-size : 43px;
	letter-spacing : 0.86px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle9
{
	font-family : Josefin Sans;
	font-size : 43px;
	letter-spacing : 0.86px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle8
{
	font-family : Josefin Sans;
	font-size : 43px;
	letter-spacing : 0.86px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle7
{
	font-family : Josefin Sans;
	font-size : 16px;
	line-height : 18.08px;
	letter-spacing : 0.32px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle11
{
	font-family : Josefin Sans;
	font-size : 43px;
	letter-spacing : 0.86px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle6
{
	font-family : Josefin Sans;
	font-size : 16px;
	line-height : 18.08px;
	letter-spacing : 0.32px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle5
{
	font-family : Josefin Sans;
	font-size : 16px;
	line-height : 18.08px;
	letter-spacing : 0.32px;
	font-variant : small-caps;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle21
{
	font-family : Josefin Sans;
	font-size : 14px;
	letter-spacing : 1.96px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle22
{
	font-family : Josefin Sans;
	font-size : 15px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle24
{
	font-family : Josefin Sans;
	font-size : 15px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle23
{
	font-family : Josefin Sans;
	font-size : 15px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle25
{
	font-family : Josefin Sans;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle31
{
	font-family : Josefin Sans;
	font-weight : bold;
	font-size : 25px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle27
{
	font-family : Josefin Sans;
	font-size : 15px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle29
{
	font-family : Josefin Sans;
	font-weight : bold;
	font-size : 18px;
	letter-spacing : 10.44px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle28
{
	font-family : Josefin Sans;
	font-weight : bold;
	font-size : 18px;
	letter-spacing : 10.44px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle30
{
	font-family : Josefin Sans;
	font-weight : bold;
	font-size : 18px;
	letter-spacing : 10.44px;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle26
{
	font-family : Josefin Sans;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
